<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row style="border-bottom: groove">
      <ion-col>Status</ion-col>
      <ion-col>User Id</ion-col>
      <ion-col>Task</ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove" *ngFor="let item of todoList">
      <ion-col>
        <ion-checkbox color="primary" [(ngModel)]="item.completed"></ion-checkbox>
      </ion-col>
      <ion-col>
        {{item.userId}}
      </ion-col>
      <ion-col>
        {{item.title}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>